.about-container{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about{
    display: flex;
    width: 1200px;
    align-items: center;
    color: #191c2c;
    padding: 30px;
    background: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 0 50px;
}

.description{
    font-size: 24px;
}

.desc-title{
    font-size: 30px;
    font-style: italic;
}

p{
    color: #3a3d47;  
}

.picture{
    height: 380px;
    border-radius: 50%;
    object-fit: scale-down;
}

#svg2{
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0px;
}

@media (max-width: 1270px){
    .about{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .picture{
        height: 280px;
    }
}
