.about-container{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about{
    display: flex;
    width: 1200px;
    align-items: center;
    color: #191c2c;
    padding: 30px;
    background: rgba(255, 255, 255, 0.726);
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.308);
    border: 1px solid #fff;
    gap: 0 50px;
}

.description{
    font-size: 24px;
}

.desc-title{
    font-size: 30px;
}

p{
    color: #3a3d47;  
}

.picture{
    height: 360px;
    border-radius: 50%;
    object-fit: scale-down;
}

#svg2{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0px;
    height: 100vh;
}

@media (min-width: 401px) and (max-width: 1400px){
    .about-container{
        padding: 50px;
    }
    
    .about{
        flex-direction: column;
        text-align: center;
        gap: 30px;
        width: 90%;   
    }

    .picture{
        height: 200px;
    }

    .description{
        font-size: 18px;
    }
}

@media (min-width: 280px) and (max-width: 400px){
    .about-container{
        padding: 0;
    }

    .about{
        flex-direction: column;
        text-align: center;
        gap: 10px; 
        width: 100%;
        padding: 10px; 
    }

    .picture{
        height: 180px;
    }

    .desc-title{
        font-size: 20px;
    }

    .description{
        font-size: 15px;
    }
}
