main{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-container{
    display: flex;
    margin: 0 160px;
    padding: 50px;
}

.main-text{
    display: flex;
    flex-direction: column;
}

.main-logo{
    display: flex;
    flex-direction: column;
    font-size: 125px;
    line-height: 100px;
    background: linear-gradient(0.12turn, #191c2c 0%, #3a3d47 50%, #bbb8d4 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
}

hr{
    margin: 20px;
    border-color: #55555581;
}

.text-description{
    font-size: 22px;
    font-weight: 400;
    font-family: Arial;
    color: #222222bb;
    padding: 20px 0;
}

.btn-info {
    position: relative;
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    transition: all .2s;
    border: none;
    color: #fff;
    background-color: #3a3d47;
    cursor: pointer;
}
   
.btn-info:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #3a3d47;
}
   
.btn-info:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
   
.btn-info::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
.btn-info::after {
    background-color: #85858552;
}
   
.btn-info:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@media (max-width: 965px) {
    
    .main-container{
        margin: auto;
        text-align: center;
    }

    .main-logo{
        font-size: 65px;
        line-height: 50px;
    }

    .text-description{
        font-size: 16px;
    }

    .btn-info{
        margin: auto;
    }
    .btn-info:active{
        transform: translateY(0);
    }
  }
