.NavBar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.btn-nav {
    background: transparent;
    border: none;
    color: #191c2c;
    position: relative;
    transition: .3s ease;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
}
  
.btn-nav::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #191c2c;
    transition: .5s ease;
}
  
.btn-nav:hover {
    color: #191c2c;
    transition-delay: .2s;
}
  
.btn-nav:hover::before {
    width: 100%;
}
  
.btn-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: .4s ease;
    z-index: -1;
}

.search{
    color: #191c2c;
    margin: 0 30px;
    transition: .3s;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 412px) {
    .NavBar{
        width: 100%;
    }

    .btn-nav {
        border: none;
        color: #191c2c;
        font-weight: 500;
        font-size: 15px;
        list-style: none;
        text-decoration: none;
    }
}
