.contact-container{
    height: 100vh;
    width: 70px;
    display: flex;
    align-items: center;
    transition: .3s;
    position: fixed;
    z-index: 10;
    border-right: 1px solid #aaaaaa;
    background-color: #fff;
}

.contact-container:hover{
    width: 80px;
}

.icons{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px 0;
}

.icon{
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    color: #191c2c;
    display: flex;
    justify-content: center;
    transition: .3s;
}

.icon:hover{
    transform: translateX(10px);
}

@media (max-width: 965px) {
    .contact-container{
        visibility: hidden;
    }  
}
